@import "builder";
@import "controller";
@import "../variables";

@each $responsive in $master-responsive {
  $responsive_type: nth($responsive, 1);
  $responsive_class: nth($responsive, 2);

  @if ($responsive_type == "") {
    @each $style in $master-style {
      $style_type: nth($style, 1);
      $style_class: nth($style, 2);
      $responsive_variant: map-get($responsive_class, default);
      @if ($style_type == "color-class-builder") {
        @each $class, $style in $style_class {
          @each $u, $value in $color-range {
            @include color-class-builder(
              $responsive_variant,
              $style,
              $class,
              $u,
              $value
            );
          }
        }
      }
    }
  } @else {
    @each $type, $responsive_variant in $responsive_class {
      @include responsive($type) {
        @each $style in $master-style {
          $style_type: nth($style, 1);
          $style_class: nth($style, 2);

          @if ($style_type == "color-class-builder") {
            @each $class, $style in $style_class {
              @each $u, $value in $color-range {
                @include color-class-builder(
                  $responsive_variant,
                  $style,
                  $class,
                  $u,
                  $value
                );
              }
            }
          }
        }
      }
    }
  }
}
