.col-2 {
  max-width: 16.666%; }

.fxw-w .col-2 {
  min-width: 16.666%; }

.col-2-4 {
  max-width: 20%; }

.fxw-w .col-2-4 {
  min-width: 20%; }

.col-3 {
  max-width: 25%; }

.fxw-w .col-3 {
  min-width: 25%; }

.col-3-5 {
  max-width: 29.16665%; }

.fxw-w .col-3-5 {
  min-width: 29.16665%; }

.col-4 {
  max-width: 33.33333%; }

.fxw-w .col-4 {
  min-width: 33.33333%; }

.col-5 {
  max-width: 41.66667%; }

.fxw-w .col-5 {
  min-width: 41.66667%; }

.col-6 {
  max-width: 50%; }

.fxw-w .col-6 {
  min-width: 50%; }

.col-7 {
  max-width: 58.33333%; }

.fxw-w .col-7 {
  min-width: 58.33333%; }

.col-8 {
  max-width: 66.66667%; }

.fxw-w .col-8 {
  min-width: 66.66667%; }

.col-9 {
  max-width: 75%; }

.fxw-w .col-9 {
  min-width: 75%; }

.col-10 {
  max-width: 83.333%; }

.fxw-w .col-10 {
  min-width: 83.333%; }

.col-12 {
  max-width: 100%; }

.fxw-w .col-12 {
  min-width: 100%; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .sm\:col-2 {
    max-width: 16.666%; }

  .sm\:fxw-w .sm\:col-2 {
    min-width: 16.666%; }

  .sm\:col-2-4 {
    max-width: 20%; }

  .sm\:fxw-w .sm\:col-2-4 {
    min-width: 20%; }

  .sm\:col-3 {
    max-width: 25%; }

  .sm\:fxw-w .sm\:col-3 {
    min-width: 25%; }

  .sm\:col-3-5 {
    max-width: 29.16665%; }

  .sm\:fxw-w .sm\:col-3-5 {
    min-width: 29.16665%; }

  .sm\:col-4 {
    max-width: 33.33333%; }

  .sm\:fxw-w .sm\:col-4 {
    min-width: 33.33333%; }

  .sm\:col-5 {
    max-width: 41.66667%; }

  .sm\:fxw-w .sm\:col-5 {
    min-width: 41.66667%; }

  .sm\:col-6 {
    max-width: 50%; }

  .sm\:fxw-w .sm\:col-6 {
    min-width: 50%; }

  .sm\:col-7 {
    max-width: 58.33333%; }

  .sm\:fxw-w .sm\:col-7 {
    min-width: 58.33333%; }

  .sm\:col-8 {
    max-width: 66.66667%; }

  .sm\:fxw-w .sm\:col-8 {
    min-width: 66.66667%; }

  .sm\:col-9 {
    max-width: 75%; }

  .sm\:fxw-w .sm\:col-9 {
    min-width: 75%; }

  .sm\:col-10 {
    max-width: 83.333%; }

  .sm\:fxw-w .sm\:col-10 {
    min-width: 83.333%; }

  .sm\:col-12 {
    max-width: 100%; }

  .sm\:fxw-w .sm\:col-12 {
    min-width: 100%; } }
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .sm\:col-2 {
    max-width: 16.666%; }

  .sm\:fxw-w .sm\:col-2 {
    min-width: 16.666%; }

  .sm\:col-2-4 {
    max-width: 20%; }

  .sm\:fxw-w .sm\:col-2-4 {
    min-width: 20%; }

  .sm\:col-3 {
    max-width: 25%; }

  .sm\:fxw-w .sm\:col-3 {
    min-width: 25%; }

  .sm\:col-3-5 {
    max-width: 29.16665%; }

  .sm\:fxw-w .sm\:col-3-5 {
    min-width: 29.16665%; }

  .sm\:col-4 {
    max-width: 33.33333%; }

  .sm\:fxw-w .sm\:col-4 {
    min-width: 33.33333%; }

  .sm\:col-5 {
    max-width: 41.66667%; }

  .sm\:fxw-w .sm\:col-5 {
    min-width: 41.66667%; }

  .sm\:col-6 {
    max-width: 50%; }

  .sm\:fxw-w .sm\:col-6 {
    min-width: 50%; }

  .sm\:col-7 {
    max-width: 58.33333%; }

  .sm\:fxw-w .sm\:col-7 {
    min-width: 58.33333%; }

  .sm\:col-8 {
    max-width: 66.66667%; }

  .sm\:fxw-w .sm\:col-8 {
    min-width: 66.66667%; }

  .sm\:col-9 {
    max-width: 75%; }

  .sm\:fxw-w .sm\:col-9 {
    min-width: 75%; }

  .sm\:col-10 {
    max-width: 83.333%; }

  .sm\:fxw-w .sm\:col-10 {
    min-width: 83.333%; }

  .sm\:col-12 {
    max-width: 100%; }

  .sm\:fxw-w .sm\:col-12 {
    min-width: 100%; } }

/*# sourceMappingURL=col-class.css.map */
