.ff-1 {
  font-family: Barlow; }

.ff-2 {
  font-family: Roboto; }

.fw-300 {
  font-weight: 300; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-700 {
  font-weight: 700; }

.ta-left {
  text-align: left; }

.ta-center {
  text-align: center; }

.ta-right {
  text-align: right; }

.txtf-u {
  text-transform: uppercase; }

.txtf-c {
  text-transform: capitalize; }

.pos-a {
  position: absolute; }

.pos-r {
  position: relative; }

.pos-f {
  position: fixed; }

.pos-s {
  position: sticky; }

.of-v {
  overflow: visible; }

.of-h {
  overflow: hidden; }

.vb-v {
  visibility: visible; }

.vb-h {
  visibility: hidden; }

.cur-p {
  cursor: pointer; }

.ml-a {
  margin-left: auto; }

.mr-a {
  margin-right: auto; }

.w-a {
  width: auto; }

.h-a {
  height: auto; }

.cl-b {
  clear: both; }

.d-flex {
  display: flex; }

.d-block {
  display: block; }

.d-none {
  display: none; }

.fxw-w {
  flex-wrap: wrap; }

.ai-start {
  align-items: flex-start; }

.ai-center {
  align-items: center; }

.ai-end {
  align-items: flex-end; }

.jc-start {
  justify-content: flex-start; }

.jc-center {
  justify-content: center; }

.jc-end {
  justify-content: flex-end; }

.jc-between {
  justify-content: space-between; }

.jc-around {
  justify-content: space-around; }

.fxd-col {
  flex-direction: column; }

.fxd-row {
  flex-direction: row; }

.fxd-col-r {
  flex-direction: column-reverse; }

.fxd-row-r {
  flex-direction: row-reverse; }

.row {
  display: flex; }

.bd-solid {
  border-style: solid; }

.h-100vh {
  height: 100vh; }

.bd-n {
  border: none; }

.bg-n {
  background: none; }

.ls-d {
  list-style: disc; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .sm\:ff-1 {
    font-family: Barlow; }

  .sm\:ff-2 {
    font-family: Roboto; }

  .sm\:fw-300 {
    font-weight: 300; }

  .sm\:fw-400 {
    font-weight: 400; }

  .sm\:fw-500 {
    font-weight: 500; }

  .sm\:fw-700 {
    font-weight: 700; }

  .sm\:ta-left {
    text-align: left; }

  .sm\:ta-center {
    text-align: center; }

  .sm\:ta-right {
    text-align: right; }

  .sm\:txtf-u {
    text-transform: uppercase; }

  .sm\:txtf-c {
    text-transform: capitalize; }

  .sm\:pos-a {
    position: absolute; }

  .sm\:pos-r {
    position: relative; }

  .sm\:pos-f {
    position: fixed; }

  .sm\:pos-s {
    position: sticky; }

  .sm\:of-v {
    overflow: visible; }

  .sm\:of-h {
    overflow: hidden; }

  .sm\:vb-v {
    visibility: visible; }

  .sm\:vb-h {
    visibility: hidden; }

  .sm\:cur-p {
    cursor: pointer; }

  .sm\:ml-a {
    margin-left: auto; }

  .sm\:mr-a {
    margin-right: auto; }

  .sm\:w-a {
    width: auto; }

  .sm\:h-a {
    height: auto; }

  .sm\:cl-b {
    clear: both; }

  .sm\:d-flex {
    display: flex; }

  .sm\:d-block {
    display: block; }

  .sm\:d-none {
    display: none; }

  .sm\:fxw-w {
    flex-wrap: wrap; }

  .sm\:ai-start {
    align-items: flex-start; }

  .sm\:ai-center {
    align-items: center; }

  .sm\:ai-end {
    align-items: flex-end; }

  .sm\:jc-start {
    justify-content: flex-start; }

  .sm\:jc-center {
    justify-content: center; }

  .sm\:jc-end {
    justify-content: flex-end; }

  .sm\:jc-between {
    justify-content: space-between; }

  .sm\:jc-around {
    justify-content: space-around; }

  .sm\:fxd-col {
    flex-direction: column; }

  .sm\:fxd-row {
    flex-direction: row; }

  .sm\:fxd-col-r {
    flex-direction: column-reverse; }

  .sm\:fxd-row-r {
    flex-direction: row-reverse; }

  .sm\:row {
    display: flex; }

  .sm\:bd-solid {
    border-style: solid; }

  .sm\:h-100vh {
    height: 100vh; }

  .sm\:bd-n {
    border: none; }

  .sm\:bg-n {
    background: none; }

  .sm\:ls-d {
    list-style: disc; } }
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .sm\:ff-1 {
    font-family: Barlow; }

  .sm\:ff-2 {
    font-family: Roboto; }

  .sm\:fw-300 {
    font-weight: 300; }

  .sm\:fw-400 {
    font-weight: 400; }

  .sm\:fw-500 {
    font-weight: 500; }

  .sm\:fw-700 {
    font-weight: 700; }

  .sm\:ta-left {
    text-align: left; }

  .sm\:ta-center {
    text-align: center; }

  .sm\:ta-right {
    text-align: right; }

  .sm\:txtf-u {
    text-transform: uppercase; }

  .sm\:txtf-c {
    text-transform: capitalize; }

  .sm\:pos-a {
    position: absolute; }

  .sm\:pos-r {
    position: relative; }

  .sm\:pos-f {
    position: fixed; }

  .sm\:pos-s {
    position: sticky; }

  .sm\:of-v {
    overflow: visible; }

  .sm\:of-h {
    overflow: hidden; }

  .sm\:vb-v {
    visibility: visible; }

  .sm\:vb-h {
    visibility: hidden; }

  .sm\:cur-p {
    cursor: pointer; }

  .sm\:ml-a {
    margin-left: auto; }

  .sm\:mr-a {
    margin-right: auto; }

  .sm\:w-a {
    width: auto; }

  .sm\:h-a {
    height: auto; }

  .sm\:cl-b {
    clear: both; }

  .sm\:d-flex {
    display: flex; }

  .sm\:d-block {
    display: block; }

  .sm\:d-none {
    display: none; }

  .sm\:fxw-w {
    flex-wrap: wrap; }

  .sm\:ai-start {
    align-items: flex-start; }

  .sm\:ai-center {
    align-items: center; }

  .sm\:ai-end {
    align-items: flex-end; }

  .sm\:jc-start {
    justify-content: flex-start; }

  .sm\:jc-center {
    justify-content: center; }

  .sm\:jc-end {
    justify-content: flex-end; }

  .sm\:jc-between {
    justify-content: space-between; }

  .sm\:jc-around {
    justify-content: space-around; }

  .sm\:fxd-col {
    flex-direction: column; }

  .sm\:fxd-row {
    flex-direction: row; }

  .sm\:fxd-col-r {
    flex-direction: column-reverse; }

  .sm\:fxd-row-r {
    flex-direction: row-reverse; }

  .sm\:row {
    display: flex; }

  .sm\:bd-solid {
    border-style: solid; }

  .sm\:h-100vh {
    height: 100vh; }

  .sm\:bd-n {
    border: none; }

  .sm\:bg-n {
    background: none; }

  .sm\:ls-d {
    list-style: disc; } }

/*# sourceMappingURL=single-class.css.map */
