#blurjs-15,
#blurjs-25 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -9; }

.product-card .product-image {
  height: 300px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }
  .product-card .product-image:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35%;
    background: #ef0707;
    background: -moz-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    background: -webkit-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    background: linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EF0707", endColorstr="#EF0707", GradientType=1);
    transition: all 0.6s ease-in-out;
    visibility: hidden;
    opacity: 0; }
  .product-card .product-image .tag {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1);
    bottom: calc(-1.75rem);
    visibility: visible;
    opacity: 0; }
.product-card:hover .product-image:before {
  visibility: visible;
  opacity: 1; }
.product-card:hover .product-image .tag {
  bottom: 1.5rem;
  visibility: visible;
  opacity: 1; }

.portofolio-card {
  position: relative; }
  .portofolio-card .portofolio-image {
    height: 480px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; }
    .portofolio-card .portofolio-image:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 35%;
      background: #ef0707;
      background: -moz-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
      background: -webkit-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
      background: linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EF0707", endColorstr="#EF0707", GradientType=1);
      transition: all 0.6s ease-in-out;
      visibility: hidden;
      opacity: 0; }
    .portofolio-card .portofolio-image .tag {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1);
      bottom: calc(-1.75rem);
      visibility: visible;
      opacity: 0; }
  .portofolio-card .open-soon {
    width: 116px;
    height: 116px;
    align-items: center;
    justify-content: center;
    border-radius: calc(116px / 2);
    transform: rotate(-45deg);
    position: absolute;
    top: calc(480px - (116px / 2) - 48px);
    left: calc((116px / -2) + 24px);
    background-color: #ef0707; }
    .portofolio-card .open-soon .ff-1-lg {
      font-style: italic;
      line-height: 1; }
  .portofolio-card:hover .portofolio-image:before {
    visibility: visible;
    opacity: 1; }
  .portofolio-card:hover .portofolio-image .tag {
    bottom: 1.5rem;
    visibility: visible;
    opacity: 1; }

.testimonial-card {
  position: relative; }
  .testimonial-card:after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(29, 30, 33, 0.1); }
  .testimonial-card:after {
    right: 0; }
  .testimonial-card .testimonial-user-image {
    height: 72px;
    width: 72px;
    border-radius: 16px; }
  .testimonial-card .testimonial-quote {
    position: relative; }
    .testimonial-card .testimonial-quote:before {
      content: "";
      -webkit-mask: url(../assets/images/quote.svg) no-repeat 50% 100%;
      mask: url(../assets/images/quote.svg) no-repeat 50% 100%;
      -webkit-mask-size: cover;
      mask-size: cover;
      content: "";
      background-color: #1d1e21;
      height: 11px;
      width: 30px;
      position: absolute;
      left: 2px;
      top: 1.5rem; }

.news-card .news-image {
  height: 300px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }
  .news-card .news-image:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35%;
    background: #ef0707;
    background: -moz-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    background: -webkit-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    background: linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EF0707", endColorstr="#EF0707", GradientType=1);
    transition: all 0.6s ease-in-out;
    visibility: hidden;
    opacity: 0; }
  .news-card .news-image .tag {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1);
    bottom: calc(-1.75rem);
    visibility: visible;
    opacity: 0; }
.news-card:hover .news-image:before {
  visibility: visible;
  opacity: 1; }
.news-card:hover .news-image .tag {
  bottom: 1.5rem;
  visibility: visible;
  opacity: 1; }

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - (var(--padding-l-r) * 2));
  max-width: calc(var(--master-body-miw-c) - (var(--padding-l-r) * 2));
  height: 112px;
  padding: 0 var(--padding-l-r);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1); }
  .navbar .button {
    transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1); }
  .navbar .logo {
    position: absolute;
    transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1); }
    .navbar .logo#logo-1 {
      left: 0;
      top: calc(50% - 112px);
      transform: translateY(-50%); }
    .navbar .logo#logo-2 {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .navbar .fullmenu-trigger {
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease-in-out; }
    .navbar .fullmenu-trigger .text {
      transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1); }
      .navbar .fullmenu-trigger .text#text-1 {
        position: absolute;
        left: 1rem;
        top: -28px;
        visibility: visible;
        opacity: 0; }
    .navbar .fullmenu-trigger .bars {
      width: 40px;
      height: 12px;
      position: relative; }
      .navbar .fullmenu-trigger .bars .bar {
        background-color: #1d1e21;
        height: 3px;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1); }
        .navbar .fullmenu-trigger .bars .bar#bar-1 {
          top: 0; }
        .navbar .fullmenu-trigger .bars .bar#bar-2 {
          bottom: 0; }
  .navbar.scroll-active .logo#logo-2 {
    top: calc(50% - 112px); }
  .navbar.scroll-active .fullmenu-trigger {
    background-color: #ef0707; }
    .navbar.scroll-active .fullmenu-trigger .text {
      color: #ffffff; }
    .navbar.scroll-active .fullmenu-trigger .bars .bar {
      background-color: #ffffff; }
  .navbar.fullmenu-active .button {
    margin-bottom: -112px;
    opacity: 0;
    visibility: hidden; }
  .navbar.fullmenu-active .logo#logo-1 {
    top: 50%; }
  .navbar.fullmenu-active .logo#logo-2 {
    top: calc(50% - 112px); }
  .navbar.fullmenu-active .fullmenu-trigger {
    background-color: #ffffff; }
    .navbar.fullmenu-active .fullmenu-trigger .text {
      color: #1d1e21; }
      .navbar.fullmenu-active .fullmenu-trigger .text#text-1 {
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        visibility: visible; }
      .navbar.fullmenu-active .fullmenu-trigger .text#text-2 {
        margin-bottom: -28px;
        opacity: 0;
        visibility: hidden; }
    .navbar.fullmenu-active .fullmenu-trigger .bars .bar {
      background-color: #1d1e21; }
      .navbar.fullmenu-active .fullmenu-trigger .bars .bar#bar-1 {
        top: 3px; }
      .navbar.fullmenu-active .fullmenu-trigger .bars .bar#bar-2 {
        bottom: 3px;
        visibility: hidden;
        opacity: 0; }

.fullmenu {
  background-color: #f2f2f2;
  -webkit-backdrop-filter: none;
  backdrop-filter: none; }
  .fullmenu .menu-row {
    position: relative; }
    .fullmenu .menu-row:before, .fullmenu .menu-row:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      background-color: rgba(29, 30, 33, 0.1); }
    .fullmenu .menu-row:before {
      top: 0; }
    .fullmenu .menu-row:after {
      bottom: 0; }
    .fullmenu .menu-row#row-2:before, .fullmenu .menu-row#row-2:after {
      display: none; }

.transition {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1); }
  .transition.closing .row#row-2 .panel, .transition.closing .row#row-4 .panel {
    transition-delay: 0.5s; }
  .transition.closing .row#row-3 .panel {
    transition-delay: 1s; }
  .transition.opening {
    transition-delay: 1000ms; }
    .transition.opening .row#row-1 .panel, .transition.opening .row#row-5 .panel {
      transition-delay: 0.5s; }
    .transition.opening .row#row-2 .panel, .transition.opening .row#row-4 .panel {
      transition-delay: 0.25s; }
  .transition .loading {
    height: 6px;
    width: 0;
    background-color: #ef0707;
    box-shadow: 0px 0px 14px 1px rgba(239, 7, 7, 0.25);
    position: absolute;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .transition .row {
    position: relative;
    width: calc(20% + 1px);
    margin-left: -1px;
    height: 100%; }
    .transition .row .panel {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffffff;
      width: 100%;
      height: 50%;
      transition: all 600ms cubic-bezier(0.57, 0.21, 0.69, 1.25); }
      .transition .row .panel.panel-1 {
        top: 0; }
      .transition .row .panel.panel-2 {
        bottom: 0; }
  .transition.off {
    opacity: 0;
    visibility: hidden; }
    .transition.off .row .panel {
      height: 0; }
@keyframes close {
  from {
    height: 0%; }
  to {
    height: 50%; } }
.master-body {
  overflow-x: hidden; }

#index-page .section-1 .section-1-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0); }
#index-page .section-1 .section-1-bg-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.35); }
  #index-page .section-1 .section-1-bg-overlay:after, #index-page .section-1 .section-1-bg-overlay:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0; }
  #index-page .section-1 .section-1-bg-overlay:before {
    top: 0;
    background: black;
    background: -moz-linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.75) 35%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.75) 35%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.75) 35%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1); }
  #index-page .section-1 .section-1-bg-overlay:after {
    bottom: 0;
    background: black;
    background: -moz-linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.75) 35%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.75) 35%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.75) 35%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1); }
#index-page .section-1 .index-product-slider {
  overflow: visible; }
  #index-page .section-1 .index-product-slider .row {
    overflow: visible; }
    #index-page .section-1 .index-product-slider .row .slick-list {
      overflow: visible; }
#index-page .section-1 .inner {
  z-index: 2; }
#index-page .section-1 .lines {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1; }
  #index-page .section-1 .lines .line {
    width: calc(2rem + 1px);
    height: 100%;
    position: relative; }
    #index-page .section-1 .lines .line:after {
      content: "";
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(255, 255, 255, 0.1); }
    #index-page .section-1 .lines .line#line-1, #index-page .section-1 .lines .line#line-4 {
      width: calc(var(--padding-l-r) + 1px); }
#index-page .section-1 .dot-accent {
  position: absolute;
  bottom: calc(20rem * -1);
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  z-index: -1;
  opacity: 0.5; }
#index-page .section-3 .dot-accent-1,
#index-page .section-3 .dot-accent-2 {
  position: absolute;
  left: 50%;
  width: 120%;
  z-index: -1;
  opacity: 0.5; }
#index-page .section-3 .dot-accent-1 {
  top: calc(20rem * -1);
  transform: translateX(-50%); }
#index-page .section-3 .dot-accent-2 {
  bottom: calc(20rem * -1);
  transform: translateX(-50%) rotate(180deg); }
#index-page .section-4 .index-testimonial-slider {
  width: calc(100% - 1px);
  position: relative; }
  #index-page .section-4 .index-testimonial-slider:before, #index-page .section-4 .index-testimonial-slider:after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(29, 30, 33, 0.1); }
  #index-page .section-4 .index-testimonial-slider:before {
    left: 0; }
  #index-page .section-4 .index-testimonial-slider:after {
    right: 0; }
  #index-page .section-4 .index-testimonial-slider .row {
    position: relative; }
    #index-page .section-4 .index-testimonial-slider .row:before, #index-page .section-4 .index-testimonial-slider .row:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      background-color: rgba(29, 30, 33, 0.1); }
    #index-page .section-4 .index-testimonial-slider .row:before {
      top: 0; }
    #index-page .section-4 .index-testimonial-slider .row:after {
      bottom: 0; }
    #index-page .section-4 .index-testimonial-slider .row .slick-list {
      overflow: hidden; }
#index-page .section-5 {
  height: 640px;
  position: relative; }
  #index-page .section-5 .dot-accent-1,
  #index-page .section-5 .dot-accent-2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    z-index: -1;
    opacity: 0.5; }
  #index-page .section-5 .dot-accent-1 {
    top: calc(24rem * -1.25); }
  #index-page .section-5 .dot-accent-2 {
    bottom: calc(24rem * -1.25); }
  #index-page .section-5 .section-5-bg {
    position: absolute;
    width: 100vw;
    height: 640px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0; }
  #index-page .section-5:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #ef0707;
    background: -moz-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    background: -webkit-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    background: linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EF0707", endColorstr="#EF0707", GradientType=1);
    z-index: 1; }
  #index-page .section-5 .inner {
    height: 100%;
    z-index: 2; }
#index-page .section-7 {
  position: relative; }
  #index-page .section-7 .bg-color {
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #ffffff;
    z-index: 0; }
  #index-page .section-7 .marquee-wrapper {
    position: relative;
    z-index: 1; }
    #index-page .section-7 .marquee-wrapper .marquee-slider {
      position: relative; }
      #index-page .section-7 .marquee-wrapper .marquee-slider:before, #index-page .section-7 .marquee-wrapper .marquee-slider:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 1px;
        background-color: rgba(29, 30, 33, 0.1); }
      #index-page .section-7 .marquee-wrapper .marquee-slider:before {
        top: -1px; }
      #index-page .section-7 .marquee-wrapper .marquee-slider:after {
        bottom: -1px; }
      #index-page .section-7 .marquee-wrapper .marquee-slider > .row .col {
        padding: 0 0;
        transition: all 0.32s; }
      #index-page .section-7 .marquee-wrapper .marquee-slider > .row .slick-list {
        width: calc(225px * 11);
        overflow: visible; }
        #index-page .section-7 .marquee-wrapper .marquee-slider > .row .slick-list .slick-slide[aria-hidden="true"] {
          visibility: visible; }
    #index-page .section-7 .marquee-wrapper .marquee-slider-item {
      width: 225px;
      height: 100px;
      background-color: #fff;
      border-radius: 0;
      position: relative; }
      #index-page .section-7 .marquee-wrapper .marquee-slider-item:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1); }

#about-us-page .section-1 .section-1-bg {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
  width: 100%; }
  #about-us-page .section-1 .section-1-bg .bg-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #ef0707;
    background: -moz-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    background: -webkit-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    background: linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EF0707", endColorstr="#EF0707", GradientType=1);
    z-index: 1; }
  #about-us-page .section-1 .section-1-bg:before, #about-us-page .section-1 .section-1-bg:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: rgba(29, 30, 33, 0.1); }
  #about-us-page .section-1 .section-1-bg:before {
    top: 0; }
  #about-us-page .section-1 .section-1-bg:after {
    bottom: 0; }
#about-us-page .section-3 .dot-accent-1, #about-us-page .section-3 .dot-accent-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  z-index: -1;
  opacity: 0.5; }
#about-us-page .section-3 .dot-accent-1 {
  top: calc(18rem * -1); }
#about-us-page .section-3 .dot-accent-2 {
  bottom: calc(10rem * -1); }
#about-us-page .section-4 .values {
  position: relative; }
  #about-us-page .section-4 .values:before, #about-us-page .section-4 .values:after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(29, 30, 33, 0.1); }
  #about-us-page .section-4 .values:before {
    left: 0; }
  #about-us-page .section-4 .values:after {
    right: 0; }
  #about-us-page .section-4 .values .value-item {
    position: relative;
    cursor: pointer; }
    #about-us-page .section-4 .values .value-item:first-child:before {
      opacity: 1;
      top: 0; }
    #about-us-page .section-4 .values .value-item:before, #about-us-page .section-4 .values .value-item:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      background-color: rgba(29, 30, 33, 0.1);
      opacity: 0; }
    #about-us-page .section-4 .values .value-item:after {
      bottom: 0;
      opacity: 1; }
    #about-us-page .section-4 .values .value-item .value-title, #about-us-page .section-4 .values .value-item .value-subtitle {
      color: #1d1e21;
      transition: all 0.6s ease-in-out; }
    #about-us-page .section-4 .values .value-item .value-subtitle {
      opacity: 0; }
    #about-us-page .section-4 .values .value-item .value-image {
      position: absolute;
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1); }
      #about-us-page .section-4 .values .value-item .value-image:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;
        transition: all 0.6s cubic-bezier(0.76, 0, 0.07, 1);
        background: #ef0707;
        background: -moz-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
        background: -webkit-linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
        background: linear-gradient(0deg, #ef0707 0%, rgba(239, 7, 7, 0.75) 35%, rgba(239, 7, 7, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EF0707", endColorstr="#EF0707", GradientType=1);
        z-index: 1; }
    #about-us-page .section-4 .values .value-item:hover .value-title, #about-us-page .section-4 .values .value-item:hover .value-subtitle {
      color: #ffffff;
      opacity: 1; }
    #about-us-page .section-4 .values .value-item:hover .value-image {
      height: 100%; }
      #about-us-page .section-4 .values .value-item:hover .value-image:after {
        height: 100%;
        visibility: visible;
        opacity: 1; }
#about-us-page .section-5 .partners {
  position: relative; }
  #about-us-page .section-5 .partners:before, #about-us-page .section-5 .partners:after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(29, 30, 33, 0.1); }
  #about-us-page .section-5 .partners:before {
    left: 0; }
  #about-us-page .section-5 .partners:after {
    right: 0; }
  #about-us-page .section-5 .partners .row {
    position: relative; }
    #about-us-page .section-5 .partners .row:before, #about-us-page .section-5 .partners .row:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      background-color: rgba(29, 30, 33, 0.1); }
    #about-us-page .section-5 .partners .row:before {
      top: 0; }
    #about-us-page .section-5 .partners .row:after {
      bottom: 0; }

.footer {
  position: relative; }
  .footer .input-wrapper {
    position: relative; }
    .footer .input-wrapper input {
      padding: 0 1.5rem;
      width: calc(100% - 1.5rem * 2); }
    .footer .input-wrapper button {
      position: absolute;
      right: 0.25rem;
      top: 50%;
      transform: translateY(-50%);
      outline: none;
      border: none; }
  .footer .dot-accent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(-1);
    width: 120%;
    z-index: -1;
    opacity: 0.5;
    bottom: calc(6rem * -1);
    mix-blend-mode: luminosity; }
  .footer .rotate_wrapper {
    width: 40px;
    height: 170px;
    right: var(--padding-l-r);
    top: 0; }
    .footer .rotate_wrapper .click-inner {
      transform: rotate(90deg);
      width: 170px;
      height: 40px;
      position: absolute; }

/*# sourceMappingURL=custom.css.map */
